@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
}

body{
    font-family:"Poppins",sans-serif ;
    color: var(--primary-text-color);
    flex-wrap: wrap;
}

p{
    font-family: "Roboto",sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;

}

ul {
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline:auto;
    overflow:hidden;
}

nav{
    background-color: #00d5ff;
    box-shadow:0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    
}

.main-nav{
    justify-content:space-between;
    padding-block: 8px;
}

.website-logo img{
    width: 120px;
}

.nav-links ul{
    gap:26px;
}

.hover-link{
    cursor: pointer;
    transition: all ease 0.3s;
}

.hover-link:hover{
    transform: translateY(-3px);
}
.hover-link:active{
    color:red;
}

.nav-item.active{
    color:var(--accent-color);
}

.search-bar{
    height: 32px;
    gap: 10px;
}

.news-input{
    width:200px;
    height: 100%;
    padding-inline:12px;
    border-radius: 4px;
    border:2px solid rgb(4, 150, 247);
    font-family: "Roboto",sans-serif;
}

.btn{
    transition: 0.125s ease;
    cursor:pointer;
    font-family: "Roboto",sans-serif;
}


.btn:hover{
    transform: translateY(-5px);
    background-color: var(--accent-color-dark);
}

main{
    padding-block:20px;
    margin-top: 150px;
}

.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
    margin-left: 80px;
}

.card{
    width: 450px;
    min-height: 400px;
    border-radius:4px ;
    box-shadow: 0 0 4px #d4ecff;
    cursor:pointer;
    background-color: #fff;
    overflow: hidden;
    border:hidden;
    transition: ease all 0.3s;
}

.card:hover{
    box-shadow:1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-3px);

}

.card-header img{
    width: 100%;
    height:175px;
    object-fit: cover;
}
.card-content{
    padding: 12px;
}

.news-source{
    margin: block 12px;
}


a{
    color: var(--primary-text-color);
}

#about-para
{
    margin-top:150px;
    font-size: larger;

}

#about-id{
    margin-left:5%;
    margin-right: 5%;
}

.copyrights{
    color: var(--accent-color);
    font-style: "Poppins",sans-serif;
}

.sign-up-form{
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding:20px;
    margin: 8% auto 0;
    text-align: center;
    margin-top: 12%;
    font-family: sans-serif;

}

.sign-up-form h1{
    color:#1c8adb;
    margin-bottom: 30px;

}

.input-box{
    border-radius: 20px;
    padding:10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

hr{
    margin: top 20px;
    width: 100%;
}

.or{
    background: #fff;
    width:30px;
    margin : -28px auto 10px;
}

#foot-login{
    margin-top: 20px;
}

.user-icon{
    width: 60px;
}

@media(min-width:800px){
    .main-nav{
        width: 70%;
        margin: 0 auto;
    }
}

@media(min-width:400px) and (max-width:800px)
{
    .main-nav{
        width: 80%;      
    };
}

@media(max-width:400px){
    .main-nav{
        width: 100%;
    }
}